/****** Colors ******/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bold {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "navigation" "main";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
  display: grid;
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}

.image-header {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

header {
  height: 80px;
  background-color: rgb(97, 97, 177);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 1.2em;
}

.header-right, .header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-right * {
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
}

.header-left {
  margin-left: 10px;
  flex: 20%;
}

.header-right h2 {
  font-size: 0.9em;
}

@keyframes shaking {
  0% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
.bell-icon {
  padding: 10px;
  fill: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  transition: animation 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.bell-icon-container {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(135, 135, 135);
  padding-right: 10px;
}
.bell-icon-container:hover .bell-icon {
  animation: shaking 1.5s ease-out backwards;
}
.bell-icon-notification {
  background-color: greenyellow;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
}

nav {
  padding: 20px 0;
  background-color: rgb(60, 57, 93);
  color: rgb(255, 255, 255);
}

.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-svg {
  width: 30px;
  color: white;
}

@media (min-width: 768px) {
  nav {
    padding: 10px 0;
  }
  .navigation-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
  }
  .navigation-items a {
    margin-bottom: 20px;
  }
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  flex: 25%;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.tab {
  flex: 75%;
  background-color: #e8e8e8;
  height: 59px;
  border-left: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
}

.traffic-header h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.traffic-nav {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  max-width: 600px;
}

.alert {
  margin: 10px auto;
  background-color: rgb(97, 97, 177);
  color: rgb(255, 255, 255);
  padding: 20px 15px;
  border-radius: 10px;
  width: 90%;
  font-size: 13px;
}

.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.alert-banner-close {
  font-size: 20px;
  font-weight: bold;
}

.daily, .social, .mobile, .traffic {
  border-bottom: 2px solid #b5b5b5;
  padding: 25px 0 25px 16px;
}
.daily h3, .social h3, .mobile h3, .traffic h3 {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .daily {
    border-right: 2px solid #b5b5b5;
  }
}
.social {
  padding: 10px;
  flex-wrap: wrap;
}
.social h3 {
  display: block;
  width: 100%;
}
.social-container {
  width: 90%;
  padding: 20px 30px;
  background-color: #e1e1e1;
  margin: 0 auto 20px;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .social-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.social-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100px;
}
.social-image {
  width: 70px;
  fill: white;
  background-color: rgb(125, 126, 207);
  padding: 15px;
  border-radius: 50%;
  margin: 0px 15px;
}
@media screen and (min-width: 768px) {
  .social-image {
    width: 80px;
  }
}
.social p:first-of-type {
  color: rgb(97, 97, 177);
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .social p:first-of-type {
    font-size: 20px;
  }
}
.social p:nth-of-type(2) {
  color: rgb(83, 83, 83);
  font-size: 50px;
}
@media screen and (min-width: 768px) {
  .social p:nth-of-type(2) {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .social-container {
    width: 30%;
  }
}
.members, .activity {
  text-align: center;
}
.members-main-title, .activity-main-title {
  text-align: left;
  margin: 20px 20px;
}
.members-container, .activity-container {
  padding: 20px 0;
  height: 200px;
  text-align: center;
}
.members-container:not(:last-of-type), .activity-container:not(:last-of-type) {
  border-bottom-width: 80%;
  border-bottom: 2px solid gainsboro;
}
@media screen and (min-width: 768px) {
  .members-container, .activity-container {
    text-align: left;
    padding-left: 20px;
  }
  .members-container:not(:last-of-type), .activity-container:not(:last-of-type) {
    border-bottom: 2px solid gainsboro;
  }
  .members-container .activity-container, .activity-container .activity-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .members-image-text, .activity-image-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.members-image, .activity-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.members-date, .activity-date {
  text-align: center;
  margin-right: 20px;
}
.members-text, .activity-text {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .members {
    border-bottom: 2px solid gainsboro;
  }
}
@media screen and (min-width: 1024px) {
  .members {
    border-right: 2px solid gainsboro;
  }
}
@media screen and (min-width: 768px) {
  .members-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.activity .arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .activity .arrow {
    color: rgb(135, 135, 135);
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .activity {
    border-bottom: 2px solid gainsboro;
  }
}
@media screen and (min-width: 768px) {
  .activity-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.message {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid gainsboro;
}
@media screen and (min-width: 1024px) {
  .message {
    border-right: 2px solid gainsboro;
  }
}
.message-title {
  margin: 20px 0;
}

.widget-container {
  width: 100%;
}
.widget-container input {
  margin: 10px 0;
  width: 95%;
  padding: 10px 40px;
  border: 2px solid rgb(135, 135, 135);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}
.widget-container textarea {
  width: 95%;
  margin: 10px 0;
  height: 150px;
  border: 2px solid rgb(135, 135, 135);
  border-radius: 5px;
}
.widget-container button {
  width: 95%;
  padding: 20px 40px;
  background-color: rgb(97, 97, 177);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  border: 2px solid #a5a5d3;
}

.settings {
  margin: 20px 20px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.settings h3 {
  margin-bottom: 20px;
}
.settings .form-field {
  margin: 20px 0;
}
.settings-toggle-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.settings-toggle-container .toggle-switch {
  appearance: none;
  position: relative;
  width: 70px;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(135, 135, 135);
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
  border: 2px solid rgb(245, 245, 245);
  content: "On";
}
.settings-toggle-container input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: white;
  transition: left 0.3s;
  border: solid 2px rgb(173, 173, 173);
}
.settings-toggle-container input:checked {
  background-color: rgb(97, 97, 177);
}
.settings-toggle-container input::before {
  content: "OFF";
  position: relative;
  top: 20%;
  left: 55%;
  color: white;
}
.settings-toggle-container input:checked::before {
  content: "ON";
  color: white;
  left: 10%;
}
.settings-toggle-container input:checked::after {
  left: 80%;
}
.settings .form-field {
  width: 100%;
  padding: 15px 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
  color: rgb(135, 135, 135);
  border-radius: 4px;
}
.settings-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.settings-button button {
  width: 45%;
  background-color: rgb(97, 97, 177);
  text-transform: uppercase;
  padding: 21px 40px;
  color: rgb(255, 255, 255);
  border: 2px solid #a5a5d3;
  border-radius: 4px;
}
.settings-button button:nth-of-type(2) {
  background-color: rgb(135, 135, 135);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .main-header {
    grid-column: 1/span 2;
  }
  .activity, .members {
    grid-column: 1/span 2;
  }
  .alert {
    grid-column: 1/span 2;
  }
  .traffic, .social {
    grid-column: 1/span 2;
  }
  .daily {
    grid-column: 1/span 1;
  }
  .mobile {
    grid-column: 2/span 1;
  }
  .message, .settings {
    grid-column: 1/span 2;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}
@media (min-width: 1024px) {
  .members {
    grid-column: 1/span 1;
  }
  .activity {
    grid-column: 2/span 1;
  }
  .message {
    grid-column: 1/span 1;
  }
  .settings {
    grid-column: 2/span 1;
  }
}

/*# sourceMappingURL=styles.css.map */
