/****** Colors ******/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "navigation" "main";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
  display: grid;
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}

.image-header {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

header {
  height: 80px;
  background-color: rgb(97, 97, 177);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 1.2em;
}

.header-right, .header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right * {
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
}

.header-left {
  margin-left: 10px;
  flex: 20%;
}

.header-right h2 {
  font-size: 0.9em;
}

.bell-icon-container {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(135, 135, 135);
  padding-right: 10px;
}

.bell-icon {
  fill: rgb(255, 255, 255);
}

nav {
  padding: 20px 0;
  background-color: rgb(60, 57, 93);
  color: rgb(255, 255, 255);
}

.navigation-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-svg {
  width: 30px;
  color: white;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .navigation-items {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
  }
  .navigation-items a {
    margin-bottom: 20px;
  }
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  flex: 25%;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.tab {
  flex: 75%;
  background-color: #e8e8e8;
  height: 59px;
  border-left: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
}

.traffic-header h3 {
  margin-top: 15px;
  margin-left: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alert {
  margin: 10px;
  background-color: rgb(97, 97, 177);
  color: rgb(255, 255, 255);
  padding: 20px 15px;
  border-radius: 10px;
  width: 90%;
  font-size: 13px;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-banner-close {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .main-header {
    grid-column: 1/span 2;
  }
  .alert {
    grid-column: 1/span 2;
  }
  .traffic, .social {
    grid-column: 1/span 2;
  }
  .daily, .members, .message {
    grid-column: 1/span 1;
  }
  .mobile, .activity, .settings {
    grid-column: 2/span 1;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

/*# sourceMappingURL=styles.css.map */
