/****** Colors ******/

$color-primary: rgb(97, 97, 177);
$color-secondary: rgb(60, 57, 93);
$color-tertiary: rgb(113, 193, 125);

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$ocean-blue: rgb(67, 168, 188);

$light-grey: rgb(245, 245, 245);
$medium-grey: rgb(135, 135, 135);
$dark-grey: rgb(83, 83, 83);

