

.traffic-header h3 {
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.traffic-nav {
    @include flexy(flex, row, space-around, center);
}