

.traffic-header h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.traffic-nav {
    margin: 20px auto;
    width: 80%;
    @include flexy(flex, row, space-between, start);
    max-width: 600px;
    
}