@media (min-width: 768px) {

    .grid-container {
        
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .main {
        grid-template-columns: 50% ;
    }

    .main-header {
        grid-column: 1 / span 2;
    }

    .alert {
        grid-column: 1 / span 2;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }
        .widget-container-half {
        width: 45vw;
    }

    // Other stylings like padding and margin will need to be added later
}