nav {
    padding: 20px 0;
    background-color: $color-secondary;
    color: $color-white;
}

.navigation-items {
    @include flexy(flex, row, space-around, center);
}

.navbar-svg {
    width: 30px;
    color: white;
}

@media (min-width: 768px) {
    nav {
    
        padding: 10px 0;
    }

    .navigation-items {
        @include flexy(flex, column, center, space-around);
        flex-wrap: wrap;
    }

    .navigation-items a {
        margin-bottom: 20px;
    }
    
}