.social {
    padding: 10px;
    
    flex-wrap: wrap;

    h3 {
        display: block;
        width: 100%;
    }
    &-container {
        width: 90%;
        
        background-color: darken($light-grey, 8%);
        margin: 0 auto 20px;
        border: 2px solid darken($light-grey, 18%);
        border-radius: 10px;
        @include flexy(flex, row,  center, center);
        max-width: 400px;

        @media screen and (min-width: 768px) {
            padding: 10px 20px;
            @include flexy(flex, row,  flex-start, center);
        }
    }
    
    &-text {
        @include flexy(flex, column,  center, start);
        height: 100px;
    }

    &-image {
        width: 70px;
    fill: white;
    background-color: rgb(125, 126, 207);
    padding: 15px;
    border-radius: 50%;
    margin: 0px 15px;
    @media screen and (min-width: 768px) {
        width: 80px;
    } 
    }

    
        

        
    & p:first-of-type {
        color: $color-primary;
        font-size: 24px;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    & p:nth-of-type(2) {
        color: $dark-grey;
        font-size: 50px;

        @media screen and (min-width: 768px) {
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 768px){
    .social {

        @include flexy(flex, row,  space-between, center);

        &-container {
            width: 30%;
        }
    }

    
}